################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CudaFindGCF/CudaBigFloat.VC.VC.opendb
/CudaFindGCF/CudaBigFloat.VC.db
/CudaFindGCF/.vs/CudaBigFloat/v14/.suo
